 html {
   font-size: 62.5%;
 }

 * {
   padding: 0px;
   margin: 0px;
 }
 /* navbar */
 nav {
   box-shadow: 0px 1px 8px #8888 ;
   height: 7em;
   display: flex;
   align-items: center;
 }

 .icon {
   flex: 0.5;
 }

 .logo {
   height: 80%;
 }

 /* newscontent */
 .content {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 95%;
   background-color: red;
   padding: 0.3rem 2em;
   margin: 4rem 1rem;
   color: white;
 }
 .download{
   cursor: pointer;
    height: 4rem;
 }






 .footer {
   background-color: #000000;
   width: 50rem;
 }

 /* media queries */
 @media (max-width: 999px) {
   .content{
     display: none;
   }
 }